.btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    padding: 11px 0 13px 0;
    letter-spacing: 0.3px;
    background: none;
    border: 2px solid $primary;
    color: $primary;

    transition: all .25s cubic-bezier(0.65, 0.05, 0.36, 1);
    &:hover {
        background-color: $primary;
        color: $bg-light;
    }
}