.footer {
  padding: 50px 0 165px;
  background-color: #14142B;
  color: $text-light;

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.3px;

  &--white {
    color: $bg;
  }

  &__icon {
    width: 32px;
    height: 32px;

    fill: #ffffff;

    transition: all .15s ease-out;
    margin-left: 30px;
    &-link {
      color: inherit;
      text-decoration: none;
      &:hover {
        .footer__icon {
          fill: rgba(234, 234, 234, 0.81);
        }
      }
    }
  }

  &__powered-by {
    padding-top: 83px;
    a {
      color: inherit;
    }
  }
}

@media all and (max-width: 768px) {
  .footer {
    font-size: 10px;
    padding: 30px 0 60px;
    line-height: 19px;

    &__icon {
      padding-right: 5px;
      margin-left: 0;
    }

    &__powered-by {
      padding-top: 35px;
    }
  }
}