.footer {
  padding: 50px 0 165px;
  background-color: #14142B;
  color: $text-light;

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.3px;

  &__paragraph {

  }

  span {
    color: $bg;
    padding-bottom: 22px;
  }
}