.form {
  background-color: $bg-light;

  .title {
    margin-bottom: 40px;
  }

  &__info {
    display: flex;
    align-items: center;

    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: .2px;

    margin-bottom: 30px;
  }

  &__icon {
    margin-right: 20px;

    stroke: #4E4B66;
    height: 24px;

    &--phone {
      width: 24px;
    }

    &--mail {
      width: 26px;
    }
  }

  &__input {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: .3px;

    width: 100%;
    margin-bottom: 20px;
    background-color: $bg;
    border: none;
    outline: none;
    color: $body;

    padding: 11px 15px 13px;

    &::placeholder {
      color: $text-light;
    }

    &--special {
      height: 85px;
    }
  }

  &__btn {
    margin-top: 10px;
  }
}