.location {
  background-color: $bg;

  &__address {
    display: flex;
    align-items: center;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

    margin-top: 38px;
    &-logo {
      margin-right: 24px;
      width: 24px;
      height: 24px;
      stroke: $body;
    }
  }

  &__map {
    height: 480px;
  }
}

@media all and (max-width: 768px) {
  .location {
    background-color: #fff;

    &__address {
      margin: 25px 0 30px;

      &-logo {
        margin-right: 15px;
      }
    }

    &__map {
      height: 195px;
    }
  }
}