.nav {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;

    &__link {
        text-decoration: none;
        color: inherit;

        transition: all .15s ease-out;
        &:hover {
            color: $primary;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

@media all and (max-width: 991px) {
    .nav__link {
        margin-right: 20px;
    }
}

@media all and (max-width: 780px) {
    .slideout-panel {
        margin-left: 256px;
    }

    .slideout-menu {
        display: block;
    }

    .btn-hamburger {
        display: none;
    }
}