.partners {
  padding: 88px 0 100px;
  background-color: $bg;

  &__heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: .2px;
    color: $body;
    margin-bottom: 60px;
  }

  &__item {
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }

  &__img {
    display: block;
    max-width: 100%;
    width: auto;
    height: 138px;
    margin-bottom: 15px;
  }

  &__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: .2px;
    text-align: center;
  }
}

@media all and (max-width: 768px) {
  .partners {
    padding: 80px 0 0;
    background-color: #fff;

    &__heading {
      font-size: 15px;
      margin-bottom: 20px;
    }

    &__item {
      margin-bottom: 20px;
    }

    &__title {
      font-size: 14px;
      line-height: 1.5;
    }
  }
}