<section class="directions">
  <div class="container">
    <h2 class="section__heading">Направления</h2>
    <div class="row">
      <div class="col-6">
        <div class="directions__item">
          <h3 class="directions__text">Волокнисто-пористые композиционные материалы специального назначения</h3>
          <img class="directions__image" src="assets/img/directions-1.png" alt="Волокнисто-пористые композиционные материалы специального назначения">
        </div>
      </div>
      <div class="col-6">
        <div class="directions__item">
          <h3 class="directions__text">Материалы технического назначения на базе текстильной технологии</h3>
          <img class="directions__image" src="assets/img/directions-2.jpg" alt="Волокнисто-пористые композиционные материалы специального назначения">
        </div>
      </div>
      <div class="col-6">
        <div class="directions__item">
          <h3 class="directions__text">Автоматизация отраслевых бизнес-процессов в области дизайна, конструирования, производства материалов, тканей и одежды</h3>
          <img class="directions__image" src="assets/img/directions-3.jpg" alt="Волокнисто-пористые композиционные материалы специального назначения">
        </div>
      </div>
      <div class="col-6">
        <div class="directions__item">
          <h3 class="directions__text">
            Металл-полимерные нанокомпозитные материалы для изделий военного, гражданского и двойного назначения          </h3>
          <img class="directions__image" src="assets/img/directions-4.jpg" alt="Волокнисто-пористые композиционные материалы специального назначения">
        </div>
      </div>
      <div class="col-6">
        <div class="directions__item">
          <h3 class="directions__text">
            Технологии производства кожи, меха, швейных, обувных, кожевенно-галантерейных изделий различного назначения
          </h3>
          <img class="directions__image" src="assets/img/directions-5.jpg" alt="Волокнисто-пористые композиционные материалы специального назначения">
        </div>
      </div>
      <div class="col-6">
        <div class="directions__item">
          <h3 class="directions__text">
            Оказание консультационных и экспертных услуг компании реального сектора экономики
          </h3>
          <img class="directions__image" src="assets/img/directions-6.jpg" alt="Волокнисто-пористые композиционные материалы специального назначения">
        </div>
      </div>
      <div class="col-6">
        <div class="directions__item">
          <h3 class="directions__text">
            Снаряжение и экипировка специального и двойного назначения нового поколения
          </h3>
          <img class="directions__image" src="assets/img/directions-7.jpg" alt="Волокнисто-пористые композиционные материалы специального назначения">
        </div>
      </div>
      <div class="col-6">
        <div class="directions__item">
          <h3 class="directions__text">
            Технологии производства фурнитуры и пуговиц
          </h3>
          <img class="directions__image" src="assets/img/directions-8.jpg" alt="Волокнисто-пористые композиционные материалы специального назначения">
        </div>
      </div>
    </div>
  </div>
</section>