<section class="directions">
  <div class="container">
    <h2 class="section__heading">Направления</h2>
    <div class="row">
      <div class="col-12 col-md-6 order-md-1">
        <div class="directions__item" data-id="1">
          <h3 class="directions__text">Волокнисто-пористые композиционные материалы специального назначения</h3>
          <img class="directions__image" src="assets/img/directions-1.png"
               alt="Волокнисто-пористые композиционные материалы специального назначения">
        </div>
      </div>
      <div class="col-12 col-md-6 order-3 order-md-2">
        <div class="directions__item" data-id="2">
          <h3 class="directions__text">Материалы технического назначения на базе текстильной технологии</h3>
          <img class="directions__image" src="assets/img/directions-2.jpg"
               alt="Волокнисто-пористые композиционные материалы специального назначения">
        </div>
      </div>
      <div class="col-12 order-2 order-md-3">
        <div class="directions__spoiler" data-hidden-id="1">
          <div class="col-12 offset-md-1 col-md-10">
            <div class="d-none d-md-block col-md-8">
              <h3 class="directions__spoiler-heading">
                Волокнисто-пористые композиционные материалы специального назначения
              </h3>
            </div>
            <div class="col-12 col-md-7">
              <ul class="directions__spoiler-list">
                <li>
                  Разработка волокнисто-пористых композиционных нетканых материалов широкого назначения со следующими
                  свойствами: фильтрационные, негорючие, пожаростойкие, теплоизоляционные, суперабсорбирующие,
                  антимикробные
                </li>
                <li>
                  Разработка волокнисто-пористых композиционных нетканых материалов из биосовместимых и биоразлагаемых
                  полимеров для производства изделий санитарно-гигиенического назначения
                </li>
                <li>
                  Разработка технологии многослойных нетканых текстильных материалов, обладающих радиационно-защитными
                  свойствами (защита от рентгеновского излучения)
                </li>
                <li>
                  Разработка структуры и технологии геотекстильных нетканых материалов повышенной прочности из вторичных
                  модифицированных ПЭТФ волокон
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 order-4 order-md-4">
        <div class="directions__spoiler" data-hidden-id="2">
          <div class="col-12 offset-md-1 col-md-10">
            <div class="d-none d-md-block col-md-8">
              <h3 class="directions__spoiler-heading">
                Материалы технического назначения на базе текстильной технологии
              </h3>
            </div>
            <div class="col-12 col-md-7">
              <ul class="directions__spoiler-list">
                <li>
                  Разработка технологий изготовления трикотажных полотен из металлических нитей различных форм
                  (плоские/трубчатые) и структур (кулирные и основовязаные переплетения)
                </li>
                <li>
                  Задание полотнам необходимых физико-механических свойств, необходимой растяжимости и стойкости к
                  деформациям
                </li>
              </ul>
            </div>
            <div class="col-12 col-md-8">
              <h4 class="directions__spoiler-subheading">
                Использование в космической отрасли
              </h4>
            </div>
            <div class="col-12 col-md-8">
              <p class="directions__spoiler-paragraph">
                Материалы для высокоэластичных отражающих поверхностей крупногабаритных трансформируемых космических
                антенн; трикотажные материалы из металлических нитей для защиты от электромагнитного излучения
              </p>
            </div>
            <div class="col-12 col-md-8">
              <h4 class="directions__spoiler-subheading">
                Использование в медицине
              </h4>
            </div>
            <div class="col-12 col-md-8">
              <p class="directions__spoiler-paragraph">
                Материалы из титановой нити для замещения соединительных образований опорно-двигательного аппарата
                (протезы и имплантаты связок, сухожилий, фасций и апоневрозов)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 order-md-1">
        <div class="directions__item" data-id="3">
          <h3 class="directions__text">Волокнисто-пористые композиционные материалы специального назначения</h3>
          <img class="directions__image" src="assets/img/directions-3.jpg"
               alt="Волокнисто-пористые композиционные материалы специального назначения">
        </div>
      </div>
      <div class="col-12 col-md-6 order-3 order-md-2">
        <div class="directions__item" data-id="4">
          <h3 class="directions__text">Материалы технического назначения на базе текстильной технологии</h3>
          <img class="directions__image" src="assets/img/directions-4.jpg"
               alt="Волокнисто-пористые композиционные материалы специального назначения">
        </div>
      </div>
      <div class="col-12 order-2 order-md-3">
        <div class="directions__spoiler" data-hidden-id="3">
          <div class="col-12 offset-md-1 col-md-10">
            <div class="d-none d-md-block col-md-8">
              <h3 class="directions__spoiler-heading">
                Автоматизация отраслевых бизнес-процессов в области дизайна, конструирования, производства материалов,
                тканей и одежды
              </h3>
            </div>

            <p class="directions__spoiler-text">
              <span>Создание</span> среды моделирования текстильных материалов.
            </p>


            <p class="directions__spoiler-text">
              <span>Формирование</span> банка данных текстильных, трикотажных и нетканых полотен.
            </p>


            <p class="directions__spoiler-text">
              <span>Моделирование</span> технологического процесса производства текстильных, трикотажных и нетканых
              полотен.
            </p>

          </div>
        </div>
      </div>
      <div class="col-12 order-4 order-md-4">
        <div class="directions__spoiler" data-hidden-id="4">
          <div class="col-12 offset-md-1 col-md-10">
            <div class="d-none d-md-block col-md-12">
              <h3 class="directions__spoiler-heading">
                Металл-полимерные нанокомпозитные материалы для изделий военного, гражданского и двойного назначения
              </h3>
            </div>
            <div class="col-12 col-md-7">
              <ul class="directions__spoiler-list">
                <li>
                  Разработка эффективной отечественной технологии производства инновационного продукта –
                  металл-полимерных нанокомпозитов – металлизированных полимерных нитей с заданными электрофизическими
                  характеристиками и высоким коэффициентом экранирования в широком диапазоне частот
                </li>
                <li>
                  Организация на базе разработанной технологии импортозамещающего, высокотехнологичного
                  конкурентоспособного производства прочных, термически плавких, легких и гибких проводов и кабелей для
                  электротехнических изделий нового поколения, в том числе безопасных изделий для обогрева и эффективных
                  экранов электромагнитного излучения.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 order-md-1">
        <div class="directions__item" data-id="5">
          <h3 class="directions__text">Волокнисто-пористые композиционные материалы специального назначения</h3>
          <img class="directions__image" src="assets/img/directions-5.jpg"
               alt="Волокнисто-пористые композиционные материалы специального назначения">
        </div>
      </div>
      <div class="col-12 col-md-6 order-3 order-md-2">
        <div class="directions__item" data-id="6">
          <h3 class="directions__text">Материалы технического назначения на базе текстильной технологии</h3>
          <img class="directions__image" src="assets/img/directions-6.jpg"
               alt="Волокнисто-пористые композиционные материалы специального назначения">
        </div>
      </div>
      <div class="col-12 order-2 order-md-3">
        <div class="directions__spoiler" data-hidden-id="5">
          <div class="col-12 offset-md-1 col-md-10">
            <div class="d-none d-md-block col-md-12">
              <h3 class="directions__spoiler-heading">
                Технологии производства кожи, меха, швейных, обувных, кожевенно-галантерейных изделий различного
                назначения
              </h3>
            </div>
            <div class="col-12 col-md-7">
              <ul class="directions__spoiler-list">
                <li>
                  Разработка нового вида синтетических кож обувного и одежного назначения с контролируемыми
                  теплозащитными свойствами, высокой паропроницаемостью для обеспечения комфортной эксплуатации в
                  контакте с человеческим организмом
                </li>
                <li>
                  Создание новых конструкций и технологий изготовления медицинской, эргономичной и комфортной обуви, а
                  также протезно-ортопедических изделий
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 order-4 order-md-4">
        <div class="directions__spoiler" data-hidden-id="6">
          <div class="col-12 offset-md-1 col-md-10">
            <div class="col-12 col-md-8">
              <h3 class="directions__spoiler-heading">
                Оказание консультационных и экспертных услуг компании реального сектора экономики
              </h3>
            </div>
            <div class="col-12 col-md-7">
              <div class="directions__spoiler-text">АНОНС</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 order-md-1">
        <div class="directions__item" data-id="7">
          <h3 class="directions__text">Волокнисто-пористые композиционные материалы специального назначения</h3>
          <img class="directions__image" src="assets/img/directions-7.jpg"
               alt="Волокнисто-пористые композиционные материалы специального назначения">
        </div>
      </div>
      <div class="col-12 col-md-6 order-3 order-md-2">
        <div class="directions__item" data-id="8">
          <h3 class="directions__text">Материалы технического назначения на базе текстильной технологии</h3>
          <img class="directions__image" src="assets/img/directions-8.jpg"
               alt="Волокнисто-пористые композиционные материалы специального назначения">
        </div>
      </div>
      <div class="col-12 order-2 order-md-3">
        <div class="directions__spoiler" data-hidden-id="7">
          <div class="col-12 offset-md-1 col-md-10">
            <div class="d-none d-md-block col-md-8">
              <h3 class="directions__spoiler-heading">
                Снаряжение и экипировка специального и двойного назначения нового поколения
              </h3>
            </div>
            <div class="col-12">
              <ul class="directions__spoiler-list">
                <li>
                  Разработка одежды двойного и специального назначения
                </li>
                <li>
                  Дизайн
                </li>
                <li>
                  Проектирование и моделирование швейных изделий
                </li>
                <li>
                  Разработка лекал
                </li>
                <li>
                  Разработка конструкторской и нормативной документации
                </li>
                <li>
                  Отшив экспериментальных образцов
                </li>
                <li>
                  Отработка технологии промышленного производства
                </li>
                <li>
                  Подбор и улучшение свойств материалов
                </li>
                <li>
                  Проведение испытаний материалов и готовых изделий
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 order-4 order-md-4">
        <div class="directions__spoiler" data-hidden-id="8">
          <div class="col-12 offset-md-1 col-md-10">
            <div class="d-none d-md-block col-md-8">
              <h3 class="directions__spoiler-heading">
                Технологии производства фурнитуры и пуговиц
              </h3>
            </div>
            <div class="col-7">
              <div class="directions__spoiler-text" style="margin-bottom: 10px;">АНОНС</div>
            </div>
            <div class="col-12">
              <p class="directions__spoiler-paragraph">
                Комплекс оборудования для отработки технологий изготовления различной фурнитуры позволяет обеспечить
                индивидуальный подход в изготовлении фурнитуры с заданными характеристиками:
              </p>
              <ul class="special">
                <li>регулировка диаметра,</li>
                <li>регулировка толщины,</li>
                <li>настрйока цвета (узора),</li>
                <li>формы,</li>
                <li>и т.д.</li>
              </ul>
              <p class="directions__spoiler-paragraph">
                Комплекс позволяет проводить научные исследования и разработку технологий по созданию новых структур
                пуговиц с художественным оформлением их поверхности.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-md-none col-12">
      <a href="#">
        <button class="btn btn-primary">
          Связаться с нами
        </button>
      </a>
    </div>
  </div>
</section>