<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-5">
        <div class="col-6">
          <p class="footer__paragraph">
            © 2021 Инжиниринговый центр инновационных материалов и технологий
            легкой промышленности. Все права защищены
          </p>
        </div>
      </div>
      <div class="col-4">
        <div class="col-12">
          <span>г. Москва, 119071, ул. Малая Калужская, д.1</span>
        </div>
        <div class="col-12">
          <span>
            +7 (495) 955-33-64
          </span>
        </div>
        <div class="col-12">
          <span>
            inmatteh@gmail.com
          </span>
        </div>
      </div>
      <div class="col-3">
        asd
      </div>
    </div>
  </div>
</footer>