<header class="form-header">
  <div class="container">
    <div class="row">
      <div class="col-3 col-md-1 d-flex align-items-center">
        <a href="/">
          <svg class="header__icon">
            <use xlink:href="#logo_cim"></use>
          </svg>
        </a>
      </div>
      <div class="col-4 col-md-2 offset-1 offset-md-7">
        <button class="btn btn-primary">
          Для бизнеса
        </button>
      </div>
      <div class="col-4 col-md-2">
        <button class="btn btn-light">
          <a href="#">Для студентов</a>
        </button>
      </div>
    </div>
  </div>
</header>