<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-1 col-md-2 col-sm-4 col-3 d-flex justify-content-center align-items-center">
        <a href="/">
          <svg class="header__icon">
            <use xlink:href="#logo_cim"></use>
          </svg>
        </a>
      </div>
      <div class="d-none d-md-block col-lg-6 offset-lg-1 offset-xl-2 col-md-7 offset-lg-0 ">
        <nav class="nav">
          <a class="nav__link" href="#">Новости</a>
          <a class="nav__link" href="/about.html">О нас</a>
          <a class="nav__link" href="/projects.html">Проекты</a>
          <a class="nav__link" href="#">Наука</a>
          <a class="nav__link" href="#">Партнеры</a>
        </nav>
      </div>
      <div class="d-none d-md-block offset-lg-1 col-xl-2 col-md-3 ">
        <button class="btn btn-primary">
          <a href="#">Связаться с нами</a>
        </button>
      </div>
      <div class="d-block d-md-none offset-2 col-sm-3 col-3 justify-content-center align-items-center">
        <svg class="header__icon-right ms-auto">
          <use xlink:href="#phone-call"></use>
        </svg>
      </div>
      <div class="d-block d-md-none col-xs-3 col-3 justify-content-end align-items-center">
        <svg class="header__icon-right ms-auto">
          <use xlink:href="#hamburger"></use>
        </svg>
      </div>
    </div>
  </div>
</header>
