<header class="header ">
    <div class="container d-flex align-items-center justify-content-between">
        <svg class="header__icon col-md-1">
            <use xlink:href="#logo_cim"></use>
        </svg>
        <nav class="nav col-md-7 d-flex offset-md-2">
            <a class="nav__link">Новости</a>
            <a class="nav__link">О нас</a>
            <a class="nav__link">Проекты</a>
            <a class="nav__link">Наука</a>
            <a class="nav__link">Партнеры</a>
        </nav>
        <button class="btn btn-primary col-md-2 align-self-end">Связаться с  нами</button>
    </div>
</header>