<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-md-2 d-flex align-items-center">
                <a href="/">
                    <svg class="header__icon col-1">
                        <use xlink:href="#logo_cim"></use>
                    </svg>
                </a>
            </div>
            <div class="col-xl-7 col-lg-8 offset-xl-2 col-md-7 offset-lg-0 d-flex align-items-center">
                <nav class="nav">
                    <a class="nav__link" href="#">Новости</a>
                    <a class="nav__link" href="/about.html">О нас</a>
                    <a class="nav__link" href="/projects.html">Проекты</a>
                    <a class="nav__link" href="#">Наука</a>
                    <a class="nav__link" href="#">Партнеры</a>
                </nav>
            </div>
            <div class="col-xl-2 col-md-3">
                <button class="btn btn-primary">
                    <a href="#">Связаться с нами</a>
                </button>
            </div>
        </div>
    </div>
</header>