<section class="location">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="col-12">
          <h2 class="section__heading">Где мы находимся</h2>
        </div>
        <div class="col-12">
          <div class="location__address">
            <svg class="location__address-logo">
              <use xlink:href="#location"></use>
            </svg>
            <span>г. Москва, 119071, ул. Малая Калужская, д.1</span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Abcb4f3733764af83b3277330395a8615cb2fe7e22ae4d5acd868e3cb4f7851f4&amp;source=constructor" width="100%" height="480" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</section>