<section class="location section__title">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-5">
        <div class="col-12">
          <h2 class="title">Где мы находимся</h2>
        </div>
        <div class="col-12">
          <div class="location__address">
            <svg class="location__address-logo">
              <use xlink:href="#location"></use>
            </svg>
            <span>г. Москва, 119071, ул. Академика Петровского, 4</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-7">
        <div class="location__map">
          <iframe
            src="https://yandex.ru/map-widget/v1/?um=constructor%3A36ad92ff9981d68e183235c55570376334fa72d3a5c194614d4de670ec720024&amp;source=constructor"
            width="100%" height="100%" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>