<section class="news">
  <div class="container">
    <h2 class="section__heading">Новости</h2>
    <div class="row">
      <div class="col-4">
        <a href="#">
          <div class="news__item">
            <div class="news__item-header">
              <span class="news-date">30 января, 2020</span>
              <svg class="news__btn">
                <use xlink:href="#f-arrow"></use>
              </svg>
            </div>
            <h3 class="news__heading">
              Серия многоуровневых переговоров между университетом и «БТК групп».
            </h3>
            <img class="news__thumb" src="assets/img/news-1.png" />
          </div>
        </a>
      </div>
      <div class="col-4">
        <a href="#">
          <div class="news__item">
            <div class="news__item-header">
              <span class="news-date">30 января, 2020</span>
              <svg class="news__btn">
                <use xlink:href="#f-arrow"></use>
              </svg>
            </div>
            <h3 class="news__heading">
              Серия многоуровневых переговоров между университетом и «БТК групп».
            </h3>
            <img class="news__thumb" src="assets/img/news-1.png" />
          </div>
        </a>
      </div>
      <div class="col-4">
        <a href="#">
          <div class="news__item">
            <div class="news__item-header">
              <span class="news-date">30 января, 2020</span>
              <svg class="news__btn">
                <use xlink:href="#f-arrow"></use>
              </svg>
            </div>
            <h3 class="news__heading">
              Серия многоуровневых переговоров между университетом и «БТК групп».
            </h3>
            <img class="news__thumb" src="assets/img/news-1.png" />
          </div>
        </a>
      </div>
      <div class="col-4">
        <a href="#">
          <div class="news__item">
            <div class="news__item-header">
              <span class="news-date">30 января, 2020</span>
              <svg class="news__btn">
                <use xlink:href="#f-arrow"></use>
              </svg>
            </div>
            <h3 class="news__heading">
              Серия многоуровневых переговоров между университетом и «БТК групп».
            </h3>
            <img class="news__thumb" src="assets/img/news-1.png" />
          </div>
        </a>
      </div>
      <div class="col-4">
        <a href="#">
          <div class="news__item">
            <div class="news__item-header">
              <span class="news-date">30 января, 2020</span>
              <svg class="news__btn">
                <use xlink:href="#f-arrow"></use>
              </svg>
            </div>
            <h3 class="news__heading">
              Серия многоуровневых переговоров между университетом и «БТК групп».
            </h3>
            <img class="news__thumb" src="assets/img/news-1.png" />
          </div>
        </a>
      </div>
      <div class="col-4">
        <a href="#">
          <div class="news__item">
            <div class="news__item-header">
              <span class="news-date">30 января, 2020</span>
              <svg class="news__btn">
                <use xlink:href="#f-arrow"></use>
              </svg>
            </div>
            <h3 class="news__heading">
              Серия многоуровневых переговоров между университетом и «БТК групп».
            </h3>
            <img class="news__thumb" src="assets/img/news-1.png" />
          </div>
        </a>
      </div>
      <div style="position:relative;overflow:hidden;"><a
        href="https://yandex.ru/maps/10745/orehovo-zuevo/?utm_medium=mapframe&utm_source=maps"
        style="color:#eee;font-size:12px;position:absolute;top:0px;">Орехово‑Зуево</a><a
        href="https://yandex.ru/maps/10745/orehovo-zuevo/?ll=38.981592%2C55.805837&utm_medium=mapframe&utm_source=maps&z=13"
        style="color:#eee;font-size:12px;position:absolute;top:14px;">Яндекс.Карты — транспорт, навигация, поиск
        мест</a>
      </div>
      <div class="col-3">
        <a href="#">
          <button class="btn btn-light btn-logo">
            <span>
              Архив новостей
            </span>
            <svg>
              <use xlink:href="#f-arrow"></use>
            </svg>
          </button>
        </a>
      </div>
    </div>
  </div>
</section>