/* ===== Bootstrap ===== */
@import "../../../node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap-utilities.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";

@import "../../../node_modules/offside-js/dist/offside";

/* ===== Template vars ===== */
@import "vars";

/* ===== Fonts ===== */
@import "fonts";

/* ===== SCSS Sections ===== */
@import "blocks/hero";
@import "blocks/directions";
@import "blocks/news";
@import "blocks/location";
@import "blocks/form";
@import "blocks/insta";
@import "blocks/about";
@import "blocks/projects";
@import "blocks/article";
@import "blocks/partners";

/* ===== SCSS Blocks ===== */
@import "./blocks/header.scss";
@import "./blocks/nav.scss";
@import "./blocks/btn.scss";
@import "./blocks/footer.scss";
@import "./blocks/offside.scss";

[hidden] {
    display: none;
}

:root {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    position: relative;
    min-height: 100vh;
    color: $body;
}

#content {
    min-height: 100vh;
    &:before {
        display: block;
        content: '';
        position: absolute;
        z-index: 10000;
        background-color: rgba(0, 0, 0, .5);
    }
}

body.offside-js--is-open {
    overflow: hidden;
}

body.offside-js--is-open #content:before {
    width: 100%;
    height: 100%;

}

section {
    padding-bottom: 60px;
}

.section__title {
    padding-top: 60px;
}

.title {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: .2px;
    color: $title;
}

.section__heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.2px;
    color: $body;
    padding: 75px 0 70px;
}

@media all and (max-width: 768px) {
    section {
        padding-bottom: 40px;
    }

    .section__heading {
        font-size: 18px;
        padding: 20px 0 15px;
    }

    .title {
        font-size: 18px;
    }

    .section__title {
        padding: 20px 0 15px;
    }
}
